.content {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(90deg, rgba(152,113,67,1) 0%, rgba(255,228,196,1) 50%, rgba(152,113,67,1) 100%);
}

.backGround {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,43,121,1) 50%, rgba(0,241,255,1) 100%);
}

.color {
  width: 300px;
  border-radius: 10px;
}

.list {
  list-style-type: none;
}

.item:nth-last-child(1) {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link {
  margin-top: 2rem;
}

.link:hover {
  text-decoration: underline;
}